DATABASE_URL=postgres://user:pass@host/db?sslmode=require
NEXTAUTH_SECRET=genera-con-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
WHATSAPP_NUMBER=51991697726
NEXT_PUBLIC_TURNSTILE_SITE_KEY=obten-en-cloudflare-turnstile
TURNSTILE_SECRET_KEY=tu-secret-key-de-cloudflare
